@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
}

* {
	font-family: 'Poppins', sans-serif;
}


.primary-button {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	background: linear-gradient(45deg, #fe3072, #ff5948);
	padding: 12px 30px;
	border-radius: 30px;
	border: none;

	margin-bottom: 60px;
}

.primary-button:hover {
	background: linear-gradient(45deg, #ff5948, #fe3072);
}

.secondary-button {
	color: rgb(121, 119, 119);
	background-color: #fff;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	padding: 12px 30px;
	border-radius: 30px;
	border: solid 2px rgb(121, 119, 119);
	margin: 6px;
}

.secondary-button:hover {
	color: rgb(48, 48, 48);
	border: solid 2px rgb(48, 48, 48);
}

/* chat container */

.chat-container .option {
    border: none;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 4px rgb(243, 33, 33);
    font-size: 20px;
    margin: 2px;
    padding: 10px;
}

.chat-container .option:disabled {
    border-bottom: solid 4px rgb(187, 187, 187);
}
