@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #2C2929;
}

.primary-button {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	background: linear-gradient(45deg, #fe3072, #ff5948);
	padding: 12px 30px;
	border-radius: 30px;
	border: none;
	margin-top: 16px;
	margin-bottom: 60px;
}

.primary-button:hover {
	background: linear-gradient(45deg, #ff5948, #fe3072);
}

.secondary-button {
	color: rgb(121, 119, 119);
	background-color: #fff;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	padding: 12px 30px;
	border-radius: 30px;
	border: solid 2px rgb(121, 119, 119);
	margin: 6px;
}

.secondary-button:hover {
	color: rgb(48, 48, 48);
	border: solid 2px rgb(48, 48, 48);
}
