.onboarding {
	padding-top: 24px;
	text-align: center;
}

.onboarding form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	padding: 20px;
	gap: 8px;
}

.descr {
	margin-top: 16px;
}

/* first_name, birthday, about me, Profile Photo*/
.onboarding form input {
	padding: 8px 8px;
	font-size: 15px;
	border: solid 1px rgb(219, 219, 219);
	border-radius: 10px;
	width: 100%;
}
/* birthday */
.onboarding form .multipleInputContainer {
	display: flex;
	flex-direction: row;
	gap: 8px;
	width: 100%;
	max-width: 100%;
}

/* checkbox */
.onboarding form input[type=checkbox] {
	width: 5%;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.onboarding form input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

/* gender, show me */
.onboarding form .multipleInputContainer label {
	padding: 8px;
	border: solid 1px rgb(144, 144, 144);
	border-radius: 16px;
}

.onboarding form input[type=radio] {
	display: none;
}

.onboarding form input[type=number] {
	width: 100%;
}

.onboarding form input[type=radio]:checked + label {
	border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type=submit]:hover {
	background-color: rgb(235, 235, 235);
	margin: 16px;
}

.onboarding form input[type=submit]:active {
	background-color: rgb(226, 115, 115);
}

.onboarding form .photoContainer img {
	width: 100%;
	border-radius: 10px;
}
