.cardContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.card {
	position: absolute;
}

@media (max-width: 680px) {
	.card {
		height: 550px;
	}
}
 @media (min-width: 768px) {
	.cardContainer{
		justify-content: space-around;
	}
 }
